.p{
  margin-top: 0;
  margin-bottom: 0;
}
.Search-bar{
  display: block;
}
.video-preview{
  width: 340px;
  display: inline-block;
  margin-right: 15px;
  vertical-align: top;
} 
.img1{
  width: 340px;
}
.thumnail-buttom{
  margin-bottom: 12px;
}
.picture-container{
  width: 50px;
  display: inline-block;
  vertical-align: top;

}
.profile-picture{
  display: inline-block;
  width: 50PX;
  border-radius: 40px;
}
.title-container{
  width: 220px;
  display: inline-block;
  margin-top: 0;
}
.video-title{
  margin-top: 0;
  font-family: Roboto,Arial;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.video-author,
.video-stats{
   font-size: 12px;
   color: rgb(96, 96, 96);
   margin-bottom: 0;
   margin-top: 0;
}
.video-author
{
  margin-bottom: 4px;
}





.video-preview-2{
  width: 340px;
  display: inline-block;
  margin-right: 15px;
  vertical-align: top;
} 
.img1-2{
  width: 340px;
}
.thumnail-buttom-2{
  margin-bottom: 12px;
}
.picture-container-2{
  width: 50px;
  display: inline-block;
  vertical-align: top;

}
.profile-picture-2{
  display: inline-block;
  width: 50PX;
  border-radius: 40px;
}
.title-container-2{
  width: 220px;
  display: inline-block;
  margin-top: 0;
}
.video-title-2{
  margin-top: 0;
  font-family: Roboto,Arial;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.video-author-2,
.video-stats-2{
   font-size: 12px;
   color: rgb(96, 96, 96);
   margin-bottom: 0;
   margin-top: 0;
}
.video-author-2
{
  margin-bottom: 4px;
}

.page{
  margin-top: 50px;
  margin-left: 70px;
}




